.verification-page{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100vh; /* Adjust the height as needed */
 
}
.verification-image{
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: start;
}
.verification-image img{
    max-width: 90%;
    height: auto;
    margin-left: 20px;
}
.verification-form{
    flex: 1;
    height: 70%;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
 
}
.verification-form h2{
    background: linear-gradient(91deg, #0078D4 24.24%, #EA4335 75.49%);

    /* background: linear-gradient(95deg, #71C9CE 21.79%, #EA4335 106%); */
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: 'Lexend';
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 0;
margin-bottom: 0;
}
.verification-form h4{
    color: #282E36;
font-family: 'Open Sans';
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 0;
}
.verification-form p{
    color: #A1A1A1;
text-align: center;
font-family: 'Open Sans';
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;
}
.verification-form input {
    width: 45%;
    height: 50px;
    margin-top: 30px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #D0D0D0;
    background: #FFF;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.10);
    outline: none; /* Remove the default focus outline */
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #63A9D7; 
}

.verification-form input:focus {
    border: 1px solid #63A9D7; /* Change the border color when focused */
}


.verification-form input::placeholder{
    color: #A1A1A1;
    font-family: 'Open Sans';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.8px;
}
.verification-form input:focus::placeholder {
    color: #63A9D7; 
}

    .verification-form input {
        background-image: url('../assets/code-icon.png'); /* Replace 'your-icon.svg' with the path to your SVG icon */
        background-size: 20px; /* Adjust the size of the icon */
        background-repeat: no-repeat;
        background-position: 10px center; /* Adjust the position of the icon */
        padding-left: 40px;
      }
      
.line{
    width: 50%;
    background: linear-gradient(90deg, #28A8EA 44.2%, #EA4335 70.47%);
}
.submit-button{
    width: 50%;
height: 50px;
flex-shrink: 0;
    border-radius: 15px;
background: linear-gradient(91deg, #0078D4 7.55%, #EA4335 87.63%);
color: #FFF;
font-family: 'Open Sans';
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 30px;
cursor: pointer;
}
.verification-form{
    position: relative;
}
.powered-text{
    background: linear-gradient(91deg, #0078D4 24.24%, #EA4335 75.49%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
position: absolute;
bottom: 0;
left: 50%; /* Position in the horizontal center */
transform: translateX(-50%); /* Center horizontally */
}